

.navbar{
    background-color: rgb(30, 32, 43);
    padding: 50px 0px;
}

.nav-item .nav-link:hover {
    border: 3px solid #009AD8;
    color: #009AD8;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    border: 3px solid #009AD8;
    color: #009AD8;
    font-weight: bold;
}
.card {
    height: 280px;
}
.banner{
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
}
